.search {
    background-color: rgb(233, 233, 233);
    margin-bottom: 1.5em;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 8px;
  }
  
  .search input {
    border: none;
    background-color: rgb(233, 233, 233);
  }
  
  .search input:focus {
    outline: none;
  }
  