
.container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
  height: 100vh;
}

.notes-container {
  display: flex;
  flex-direction: row;
}

textarea {
  resize: none;
  border: none;
  background-color: transparent;
}

textarea:focus {
  outline: none;
}

.save {
  border: none;
  border-radius: 10px;
  padding: 5px;
  background-color: rgb(204, 204, 204);
}

.save:hover {
  background-color: #fff;
  cursor: pointer;
}

/* header */

.header {
  color: #41424c;
}

.header-active {
  color: white;
}
.container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dark-mode {
  background-color: grey;
}

.light-mode-icon {
  color: white;
}

