/* html body {
  height: 100vh;
} */

.note {
  background-color: #fef68a;
  padding: 1rem;
  border-radius: 10px;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap;
}

.note-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
  height: 100vh;
}

.notes-list {
  display: grid;
  row-gap: 1rem;
  column-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

/* add new note box*/
.note.new {
  background-color: #67d7cc;
}

textarea {
  resize: none;
  border: none;
  background-color: #67d7cc;
}

textarea:focus {
  outline: none;
}

.save {
  border: none;
  border-radius: 10px;
  padding: 5px;
  background-color: rgb(204, 204, 204);
}

.save:hover {
  background-color: #fff;
  cursor: pointer;
}

/*Search Bar*/
.search {
  background-color: rgb(233, 233, 233);
  margin-bottom: 1.5em;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 8px;
}

.search input {
  border: none;
  background-color: rgb(233, 233, 233);
}

.search input:focus {
  outline: none;
}

/* header */

.header{
  color:#41424c
}

.header-active {
  color: white;
}
.container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dark-mode {
  background-color: grey;
}

.light-mode-icon {
  color: white;
}
