.note{
  background-color: #fef68a;
  margin-bottom: 10px;
  padding: 1rem;
  border-radius: 10px;
  min-height: 150px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.note-footer{
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}